<template>
  <div class="container">
    <h1>Lista attori</h1>
    <ul class="list-group">
      <li v-for="actor in actors" :key="actor.id" class="list-group-item list-group-item-primary">
        <router-link :to="{name: 'ActorShow', params: {id: actor.id}, query: {locale: 'it'}}">{{actor.name}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ActorList',
  data(){
    return{
      actors: []
    }
  },
  mounted() {
    this.$http.get('https://www.massimilianosalerno.it/jwt/api/test').then(res => {
      if(res.ok && res.body){
        this.actors = res.body.data || [];
      }
    }, err=> console.log(err));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
