<template>
  <div >
    <h1>Visualizzazione Attore con id {{$route.params.id}}</h1>
    <h2>Locale: {{$route.query.locale}}</h2>
    <router-link tag="button" class="btn btn-primary" :to="'/actors/'+ $route.params.id + '/edit' ">Modifica</router-link>
  </div>
</template>

<script>
export default {
  name: 'ActorShow',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
