<template>
  <div >
    <h1>Modifica Attore con id {{$route.params.id}}</h1>
  </div>
</template>

<script>
export default {
  name: 'ActorEdit',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
