<template>

  <div v-if="company">
    <h3>Azienda</h3>
    <div class="row">
      <div class="col-6">
        <p>Nome: {{company.name}}</p>
      </div>
      <div class="col-6">
        <p>Slogan: {{company.catchPhrase}}</p>
      </div>
      <div class="col-6">
        <p>Bs: {{company.bs}}</p>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'CompanyData',
  props: ['company']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
