<template>

    <div>
      <h3>Dati principali</h3>
      <div class="row">
        <div class="col-6">
          <p>Nome: {{user.name}}</p>
        </div>
        <div class="col-6">
          <p>E-mail: {{user.email}}</p>
        </div>
        <div class="col-6">
          <p>Telefono: {{user.phone}}</p>
        </div>
        <div class="col-6">
          <p>Sito: <a :href="user.website">{{user.website}}</a></p>
        </div>
      </div>
    </div>

</template>

<script>
export default {
  name: 'GeneralData',
  props: ['user']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
