<template>

    <ul class="list-group" v-if="posts && posts.length">
      <li v-for="post in posts" :key="post.id" class="list-group-item list-group-item-primary">
        {{post.title}}
      </li>
    </ul>

</template>

<script>
export default {
  name: 'ListPosts',
  props: ['posts']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
