<template>
  <div class="container">
    <app-header :voices="navRoute"></app-header>
    <v-touch @swiperight="goSwipe('right')" @swipeleft="goSwipe('left')">
      <router-view/>
    </v-touch>
  </div>
</template>

<script>
import routes from '../../router/routes';
export default {
  name: 'AuthPage',
  methods:{
    goSwipe: function (direction) {
      let routesFilter = routes.filter(route => route.path.indexOf(':') === -1);
      let indexRoute = routesFilter.findIndex(route => route.name === this.$route.name);
      let nextRoute = this[direction](routesFilter, indexRoute);
      this.$router.push(nextRoute.path);
    },
    right: function (routesFilter, indexRoute) {
      return routesFilter.length <= (indexRoute +1) ? routesFilter[0] : routesFilter[indexRoute+1];

    },
    left: function (routesFilter, indexRoute) {
      return (indexRoute -1) < 0 ? routesFilter[routesFilter.length -1] : routesFilter[indexRoute-1];
    }
  },
  computed: {
    navRoute: function () {
      return routes.filter(el => el.menuTitle).map(el => ({label: el.menuTitle, to: el.path}))
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
