<template>
  <div class="container">
    <h1>login</h1>
    <form @submit.prevent="login()">
      <div class="form-group">
        <label>Username</label>
        <input type="email" class="form-control" v-model="user.email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" v-model="user.password">
      </div>
      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      user: {}
    }
  },
  methods:{
    login: function(){
      this.$http.post('https://www.massimilianosalerno.it/jwt/api/auth/login', this.user).then(res => {
        if(res.ok && res.body){
            this.$emit('sendToken', res.body.token)
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
