<template>
  <div>
    <h1>Ciao Mondo</h1>
    <div class="list">
      <app-card v-for="el in listData" :text="el.text" :subtitle="el.subtitle" ></app-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      listData: [
        {text: 'Prova1', subtitle: 'sottotitolo1'},
        {text: 'Prova2', subtitle: 'sottotitolo2'},
        {text: 'Prova3', subtitle: 'sottotitolo3'}
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .list{
    display: flex;
    justify-content: space-around;
  }
</style>
