<template>
  <div class="container">
    <div v-if="!newUser">
      <h1>Lista Utenti
        <span @click="setNewUser">
          <i class="fas fa-plus-square"></i>
        </span>
      </h1>
      <ul class="list-group">
        <li v-for="user in users" class="list-group-item list-group-item-primary" :key="user.id">
          <router-link :to="{path: '/user/'+user.id}">{{user.name}}</router-link>
          <div>
            <span @click="setNewUser(user)">
              <i class="fas fa-edit"></i>
            </span>
            <span @click="deleteUser(user)">
              <i class="fas fa-trash-alt"></i>
            </span>
          </div>

        </li>
      </ul>
    </div>
    <div  v-else>
      <h1>Nuovo Utente</h1>
      <form @submit.prevent="addUser">
        <div class="form-group">
          <input type="text" v-model="newUser.name" class="form-control" placeholder="Nome Utente">
        </div>
        <div class="form-group">
          <input type="text" v-model="newUser.username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="email" v-model="newUser.email" class="form-control" placeholder="email">
        </div>
        <div class="form-group">
          <input type="text" v-model="newUser.phone" class="form-control" placeholder="telefono">
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-info" @click="resetNewUser">Annulla</button>
          <button type="submit" class="btn btn-primary">{{newUser.id ? 'Aggiorna' : 'Salva'}}</button>
        </div>
      </form>
    </div>
  </div>

</template>

<script>
export default {
  name: 'Users',
  data(){
    return{
      users: [],
      newUser: undefined
    }
  },
  methods: {
    setNewUser: function(user = {}){
      this.newUser = user;
    },
    resetNewUser: function(){
      this.newUser = undefined;
    },
    addUser: function (){
      if(this.newUser.id){
        this.$http.put('users/'+this.newUser.id, this.newUser).then(res => {
          this.users = this.users.map(user => user.id !== this.newUser.id ? user : this.newUser);
          this.resetNewUser();
        });
      }else {
        this.$http.post('users/', this.newUser).then(res => {
          if(res && res.ok && res.body){
            //this.users.push(res.body);
            this.users = [...this.users, res.body];
            this.resetNewUser();
          }
        });
      }

    },
    deleteUser: function (user) {
      this.$http.delete('users/'+user.id).then(res => {
        if(res.ok)
          this.users = this.users.filter(el => el.id !== user.id);
      })
    }
  },
  mounted() {
    this.$http.get('users').then(res => {
      this.users = res && res.body ? res.body : [];
    }, error => {
      console.log(error);
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  li{
    display: flex;
    justify-content: space-between;
    span{
      cursor: pointer;
    }
  }
</style>
