<template>
  <div class="container">
    <h1>Pagina di {{user.name}}</h1>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <card-bootstrap  title="Informazioni">
          <div v-if="user" slot="body">
            <general-data :user="user"></general-data>

            <hr>

            <address-data :address="user.address" v-if="user.address"></address-data>


            <hr>

            <company-data :company="user.company" v-if="user.company"></company-data>
          </div>

        </card-bootstrap>
      </div>
      <div class="col-sm-12 col-md-6">
        <card-bootstrap title="Lista post">
          <div v-if="posts" slot="body">
            <list-posts :posts="posts"></list-posts>
          </div>
        </card-bootstrap>
      </div>
    </div>

  </div>




</template>

<script>
import GeneralData from "./users/GeneralData";
import AddressData from "./users/AddressData";
import CompanyData from "./users/CompanyData";
import CardBootstrap from "./design/bootstrap/CardBootstrap";
import ListPosts from "./users/ListPosts";
export default {
  name: 'User',
  components: {ListPosts, CardBootstrap, CompanyData, AddressData, GeneralData},
  data(){
    return{
      id: this.$route.params.id,
      user: {},
      posts: []
    }
  },
  mounted() {
    this.$http.get('https://jsonplaceholder.typicode.com/users/'+this.id).then(res => {
      this.user = res && res.body ? res.body : {};
    }, error => {
      console.log(error);
    });
    this.$http.get(`users/${this.id}/posts`).then(res => {
      this.posts = res && res.body ? res.body : [];
    }, error => {
      console.log(error);
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
