<template>
  <div id="app">
    <auth-page v-if="token"></auth-page>
    <login v-else @sendToken="setToken"></login>
  </div>
</template>
<script>

  import AuthPage from "./components/home/AuthPage";
  import Login from "./components/home/Login";
  export default {
    name: 'App',
    components: {Login, AuthPage},
    data() {
      return {
        token: undefined
      }
    },
    mounted(){
      if(localStorage.getItem('token')){
        this.token = localStorage.getItem('token');
      }
    },
    methods:{
      setToken: function (token) {
        this.token = token;
        localStorage.setItem('token', this.token);
      }
    }
  }
</script>
<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
