<template>
  <div v-if="geo">
    <!--<iframe-->
      <!--width="300"-->
      <!--height="170"-->
      <!--frameborder="0"-->
      <!--scrolling="no"-->
      <!--marginheight="0"-->
      <!--marginwidth="0"-->
      <!--:src="'https://maps.google.com/maps?q=' + geo.lat + ',' + geo.lng + '&t=&z=15&ie=UTF8&iwloc=&output=embed'"-->
      <!--&gt;-->
    <!--</iframe>-->
    <iframe width="425" height="350" frameborder="0" scrolling="no"
            marginheight="0" marginwidth="0"
            :src="'https://www.openstreetmap.org/export/embed.html?marker='+geo.lat+'%2C'+geo.lng"
            style="border: 1px solid black"></iframe>
  </div>
</template>

<script>
export default {
  name: 'CustomMap',
  props: ['geo']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
